<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-title>
    Origen:
  </ion-title>
  <ion-item button detail detail-icon="pencil" [hidden]="toogle_editar_origen" (click)="function_toogle_edicion_origen()">
    <ion-label>
      {{searchOrigin}}
    </ion-label>
  </ion-item>
 
  <div [hidden]="!toogle_editar_origen">
    <app-origin-map></app-origin-map>
    <ion-button (click)="function_toogle_edicion_origen()">
      Confirmar origen
    </ion-button>
  </div>
  <br/>
  <br/>
  <br/>
  <ion-label [hidden]="toogle_editar_origen">Destino: </ion-label>
  <ion-searchbar [(ngModel)]="searchDestinity" (ionChange)="SearchChangedDestinity()" placeholder="Punto de Destino">
  </ion-searchbar>
  <ion-list class="ion-margin-horizontal" [hidden]="!searchDestinity.length">
    <ion-item (click)="SelectSearchResultDestinity(itemDestinity)" *ngFor="let itemDestinity of searchResultsDestinity">
      {{itemDestinity.description}}
    </ion-item>
  </ion-list>
  <div>
    <img class="map2-center" src="assets/images/marker.png" />
    <capacitor-google-map #mapRefDestinity></capacitor-google-map>
  </div>
  <br>
  <ion-item color="primary">
    <ion-label>Costo: ${{price}} (Distancia: {{distance_in_km}}km)</ion-label>
  </ion-item>
  <ion-button class="btnTrip" type="button" class="btn btn-success" color="primary">Solicitar Viaje</ion-button>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
</ion-content>