capacitor-google-map {  
    display: inline-block;
    //width: 450px;
    top: 5px;
    left: 5%;
    width: 90%;
    height: 310px;
    //height: 20%;
  }

   .map1-center {
     position: absolute;
     height: 35px;
     z-index: 1;
     display: block; 
     top:  190px;
     left: 47%;
   }

   .map2-center {
    position: absolute;
    height: 35px;
    z-index: 1;
    display: block; 
    top:  570px;
    left: 47%;
  }
  
//laurel 45 apatlaco
//tercera privada de santa barbara