
<ion-content>

<p>
  user-index works!
</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table  *ngIf="users">
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>correo</th>
      <th>estatus</th>
      <th>nickname</th>
      <th>password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.nickName }}</td>
      <td>{{ user.password }}</td>
      <td>
        <!--[routerLink]="['/form/form-index']"-->
        <a class="text-dark" [routerLink]="['/user/user-edit',user.id]">Edit</a> &nbsp;
        <a class="text-dark" [routerLink]="['/user/user-view',user.id]">Details</a> &nbsp;
        <a class="text-dark" [routerLink]="['/user/user-delete',user.id]">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

</ion-content>
