<div class="inferior">
  <ion-tab-bar slot="bottom" color="mybackground">
    <ion-button class="nav" color="mybackground" tab="history" (click)="Test()">
      <ion-icon class="icon-nav" name="reader-sharp"></ion-icon>
      <!-- <ion-label class="lab-history">Historial de viajes</ion-label> -->
    </ion-button>
  
    <ion-button class="nav" color="mybackground" tab="chats" (click)="Test2()">
      <ion-icon class="icon-nav" name="chatbubbles-sharp"></ion-icon>
      <!-- <ion-label class="lab-chats">Chats</ion-label> -->
    </ion-button>
  
    <ion-button class="nav" color="mybackground" tab="setting" (click)="Test3()">
      <ion-icon class="icon-nav"  name="settings-sharp"></ion-icon>
      <!-- <ion-label class="lab-setting">Configuración</ion-label> -->
    </ion-button>
  </ion-tab-bar>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- <body>
  <ul>
    <li>
      <a href="main">
        <i class="fab fa-edge"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-firefox"></i>
      </a>
      </li>
    <li>
      <a href="#">
        <i class="fab fa-chrome"></i>
      </a>
      
    </li>
    <li>
      <a href="#">
        <i class="fab fa-opera"></i>
      </a> 
    </li>
  </ul>
</body> -->
